<header>
    <nav class="navbar fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#home">
          <img src="../../assets/images/logo.png" height="50">
        </a>
  
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
  
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a href="#interior" class="navbar-item">Interior</a>
          <a href="#stories" class="navbar-item">Story</a>
          <a href="#products" class="navbar-item">Products</a>
          <a href="#vision" class="navbar-item">Vision</a>
          <a href="#contact" class="navbar-item">Contact Us</a>
          <a routerLink="/login" class="navbar-item">Login</a>
        </div>
      </div>
    </nav>
  </header>
  