<footer class="footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="address">
            <h3>Visit Our Store</h3>
            <h4>Jaiswal Plywood & Furniture Store</h4>
            <p>Kachhawa Bazar Main Road 231501</p>
            <p>District Mirzapur U.P. India</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="contact">
            <h3>Contact Us</h3>
            <h4>
              <a href="tel:+919598699585" class="telephone">Call us at +91 9598699585</a>
              <a href="tel:+919839605372" class="telephone">Or at +91 9839605372</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </footer>
  