@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
//typography
h1{font-size: 3.25rem;line-height: 3.5rem;font-weight:bold;font-family: 'Poppins', sans-serif;}
h2{font-size: 2.5rem;line-height: 3rem;font-weight:bold;font-family: 'Poppins', sans-serif;}
h3{font-size: 1.5rem;line-height: 2rem;font-weight:bold;font-family: 'Poppins', sans-serif;}
h4{font-size: 1.25rem;line-height: 1.5rem;font-weight:bold;font-family: 'Poppins', sans-serif;}
p{font-size: 1rem;line-height: 1.75rem;font-family: 'Poppins', sans-serif;;}
// variable
$primary-color: #e38600;
$title-color: #424242;
$hover-color: #bc6f00;
$white: #ffffff;
section{
  padding: 3rem 0;
}
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  background: url(../../assets/images/home-banner.jpg) no-repeat;
  background-size: 100%;
  .poster {
    height: 100%;
    width: 100%;
    img{
      width: 100%;
      bottom: 0;
      position: absolute;
    }
    .flex-center{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      h1{
        width: 100%;
        text-align: center;
        color: $white;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
        z-index: 101;
      }
      h3{
        color: $white;
        letter-spacing: 1px;
        text-align: center;
        font-weight: bold;
        z-index: 101;
      }
    }
  }
  .filter {
    z-index: 100;
    position: absolute;
    background: rgba(255, 170, 90, 0.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  video{
    &.fillWidth {
      width: 100%;
    }
  }
}
.main-title{
  width: 100%;
  text-align: center;
  padding: 1em 0;
  h2{
    color: $title-color;
    display: inline-block;
    position: relative;
    margin-bottom: 0.5rem;
    &:after{
      content: '';
      position: absolute;
      width: 25%;
      height: 100%;
      top:0;
      right: 0;
      bottom: 0;
      background-color: rgba(227, 134, 10, 0.7);
    }
    h4{color: $primary-color;}
  }
}
.interior-card{
  display: flex;
  padding: 1rem 0;
  margin-bottom: 2em;
  .link-container{
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    &:hover .interiors{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
    &:hover .interior-details{transform: scaleY(1);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .background-img{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &:before{
        padding-top: 100%;
        content: '';
        display: block;
      }
      div{
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
    }
    .interior-details{transform: scaleY(0); position: absolute;left: 0;right: 0;top:0;bottom: 0;background-color: rgba(227, 134, 10, 0.5);width: 100%;padding: 1em;display: flex;flex-direction: column;justify-content: space-evenly;color: #ffffff;}
  }
}
.parallax-stories{
  background-image: url("../../assets/images/stories-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  position: relative;
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .container{
    z-index: 10;
    position: relative;
  }
}
.stories-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 3rem 0;
  height: 100%;
  p{
    font-weight: 500;
  }
}
.parallax-vision{
  background-image: url("../../assets/images/vision-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  position: relative;
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(227, 134, 10, 0.7);
  }
  .container{
    z-index: 10;
    position: relative;
  }
  .main-title{
    h2{color: white;
      &:after{
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .stories-content{
    p{color: white;}
  }
}
.card{
  border:none;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  height: 100%;
  .card-body{
    text-decoration: none;
    color: $primary-color;
    padding: 0;
    .card-footer{
      border:none;
      padding: 1.25rem 1rem;
      display: flex;
      flex-direction: column;
      h4{font-size: 1.5rem;line-height: 2rem;display: block;}
      p{width: 100%;line-height: 1.5rem;font-size: 1.15rem;color: $title-color;}
    }
  }
}
@media screen and (max-width: 576px){
  .mb-xs-3{margin-bottom: 1.5rem;}
  .video-container {
    background-size: cover;
  }
}
